<!doctype html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<style type="text/css">
ul, li{
	list-style-type: none;
	padding-left: 10px;
}

li{	
	float: left;
}

li.setting{
	clear: left;
}
li.button{
	border: 1px solid black;
}

li.button:hover{
	background-color: red;
}

</style>
<title>Chewcam</title>
</head>
<body>

<div id="settings">
<script type="text/javascript">
var settings = {
	"awb-mode":[
		"off",
		"auto",
		"sunlight",
		"cloudy",
		"shade",
		"tungsten",
		"fluorescent",
		"incandescent",
		"flash",
		"horizon"
	],
	"exposure-mode":[
		"off",
		"auto",
		"night",
		"nightpreview",
		"backlight",
		"spotlight",
		"sports",
		"snow",
		"beach",
		"verylong",
		"fixedfps",
		"antishake",
		"fireworks"
	],
	"image-effect":[
		"none",
		"negative",
		"solarize",
		"posterize",
		"whiteboard",
		"blackboard",
		"sketch",
		"denoise",
		"emboss",
		"oilpaint",
		"hatch",
		"gpen",
		"pastel",
		"watercolour",
		"film",
		"blur",
		"saturation",
		"colourswap",
		"washedout",
		"posterise",
		"colourpoint",
		"colourbalance",
		"cartoon"
	]}
	
update = function(event){
	$.ajax("/update?setting="+event.data.parameter+"&value="+event.data.value);
}

$.each(settings, function(key, value){
	list = $("<ul/>").addClass("setting").appendTo($("#settings"));
	$("<li/>").addClass("setting").text(key).appendTo(list);
	console.log(value);
	$.each(value, function(index, innervalue){
		console.log(innervalue)
		$("<li/>").text(innervalue).addClass("button").appendTo(list).click({"parameter" : key, "value" : innervalue}, update)
	});
});
</script>

{% block body %}{% endblock %}
</body>