{% extends "layout.html" %}
{% block body %}
<div id="status">
</div>

<script type="text/javascript">
showstatus = function(){
	$.ajax({
		url: "status"
	})
		.done(function(data) {
			$("#status").html(data);
		})
	setTimeout(showstatus, 1000);
}
showstatus()
</script>
{% endblock %}