<!doctype html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<style type="text/css">
div#container{
	width: 500px;
	margin: 0px auto;
}

ul, li{
	list-style-type: none;
}

.button{
	background-color: #4CAF50; /* Green */
    border: 1px solid #4CAF50;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
}

.button:hover{
	background-color: white; /* Green */
	color: #4CAF50;
}
li{	
	float: left;
	margin-top: 2px;
}

li.setting{
	clear: left;
	width: 100px;
	height: 25px;
}

div.content{
	display:none;
}

div.sinksettings{
	clear: both;
	border-radius: 8px;
	border: 1px solid #4CAF50;
	padding: 25px;
}

input{
	clear: right;
	display: block;
}
a.togglebutton {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;       
    }

a.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }

</style>
<title>Chewcam</title>
</head>
<body>
<div id="container">
<div id="settings">
<script type="text/javascript">
var settings = {
	"awb-mode":[
		"off",
		"auto",
		"sunlight",
		"cloudy",
		"shade",
		"tungsten",
		"fluorescent",
		"incandescent",
		"flash",
		"horizon"
	],
	"exposure-mode":[
		"off",
		"auto",
		"night",
		"nightpreview",
		"backlight",
		"spotlight",
		"sports",
		"snow",
		"beach",
		"verylong",
		"fixedfps",
		"antishake",
		"fireworks"
	],
	"image-effect":[
		"none",
		"negative",
		"solarize",
		"posterize",
		"whiteboard",
		"blackboard",
		"sketch",
		"denoise",
		"emboss",
		"oilpaint",
		"hatch",
		"gpen",
		"pastel",
		"watercolour",
		"film",
		"blur",
		"saturation",
		"colourswap",
		"washedout",
		"posterise",
		"colourpoint",
		"colourbalance",
		"cartoon"
	],
	"iso":[
		"200",
		"400",
		"800",
		"1600",
		"3200"
	]}
	
streams = ["chew","preview","icecast","file"];

update = function(event){
	$.ajax("/update?setting="+event.data.parameter+"&value="+event.data.value);
}

togglestream = function(event){
	$.ajax("/stream?stream="+event.data.value);
}

$.each(settings, function(key, value){
	list = $("<ul/>").addClass("setting").appendTo($("#container"));
	$("<li/>").addClass("setting").text(key).appendTo(list);
	console.log(value);
	$.each(value, function(index, innervalue){
		console.log(innervalue)
		$("<li/>").text(innervalue).addClass("button").appendTo(list).click({"parameter" : key, "value" : innervalue}, update)
	});
});

/*
list = $("<ul/>").addClass("setting").appendTo($("#container"));
$("<li/>").addClass("setting").text("Valves").appendTo(list);
$.each(streams, function(key, value){
		$("<li/>").text(value).addClass("button").appendTo(list).click({"valve" : value}, togglestream)
});
*/
</script>

<div class="sink">chew.tv<a id="chewbutton" class="togglebutton">Off</a>
<div class="sink">icecast<a id="chewbutton" class="togglebutton">Off</a>
<div class="sink">local video<a id="chewbutton" class="togglebutton">Off</a>
<div class="sink">local audio<a id="chewbutton" class="togglebutton">Off</a>


<ul class="setting" id="streamcontrols">
	<li class="setting">actions</li>
	<li class="button">New Show</li>
	<li class="button">Start Stream</li>
	<li class="button">Stop Stream</li>
</ul>
<!---
<div class="sinksettings" id="icecast">
Icecast
	<div class="header">Expand</div>
	<div class="content">
		host: <input type="text"></input>
		mount: <input type="text"></input>
		something else: <input type="text"></input>
	</div>
</div>

<div class="sinksettings" id="file">
File Sink
	<div class="header">Expand</div>
	<div class="content">
		filename: <input type="text"></input>
	</div>
</div>

<div class="sinksettings" id="chew">
Chew
	<div class="header">Expand</div>
	<div class="content">
		<li class="button"> 
		show title: <input type="text"></input>
	</div>
</div>
--->
<script type="text/javascript">
$(".togglebutton").click(function(){
        $(this).toggleClass("down");
    });
$(".header").click(function () {
    $header = $(this);
    //getting the next element
    $content = $header.next();
    //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
    $content.slideToggle(500, function () {
        //execute this after slideToggle is done
        //change text of header based on visibility of content div
        $header.text(function () {
            //change text based on condition
            return $content.is(":visible") ? "Collapse" : "Expand";
        });
    });

});
</script>

{% block body %}{% endblock %}
</div>
</body>